@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #171717;
    --red: #D83933;
    --neutrals-grey-40: #ADADAD;
}

body {
    padding: 4rem;
    background: #F9F9F9;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    color: var(--black);
}

h1, .h2 {
    color: var(--black);
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.mandatory {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

.star {
    color: var(--red);
}

.h2 {
    font-size: 1.25rem;
}

.form-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: calc(50% - 10px);
    margin-bottom: 0.1px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 65%;
    height: 40px;
    padding: 8px;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--neutrals-grey-40, #ADADAD);
}

.input-with-arrow {
    position: relative;
    width: 100%;
}

.with-arrow {
    background: url('./img/down.svg') no-repeat right center;
    background-size: 24px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 65%;
    border-top: none;
    padding: 1rem;
    box-sizing: border-box;
    max-height: 240px;
    transition: all 0.3s;
    top: 70%;
    border-radius: 0px 0px 10px 10px;
}

.dropdown-content div {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
    cursor: pointer;
}

.input-with-arrow:focus .dropdown-content {
    display: block;
}

.custom-input, .custom-input2, .centered-input {
    width: 65%;
    height: 40px;
    padding: 8px;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
}

#field6 {
    background-color: #f2f2f2;
}

#field6::placeholder {
    color: #747474;
}

#field7, .blue {
    color: #0050D8;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.dropdownContent3, .dropdownContent5, .dropdownContent6 {
    display: flex;
    position: absolute;
    background-color: #f2f2f2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 65%;
    border-top: none;
    padding: 8px;
    box-sizing: border-box;
    max-height: 240px;
    transition: all 0.3s;
    border-radius: 0px 0px 10px 10px;
    margin-top: 5px;
}

.dropdownContent3 div, .dropdownContent5 div, .dropdownContent6 div {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdownContent3 div:hover, .dropdownContent5 div:hover, .dropdownContent6 div:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
    cursor: pointer;
}

.input-with-arrow:focus-within .dropdownContent3, .input-with-arrow:focus-within .dropdownContent5, .input-with-arrow:focus-within .dropdownContent6 {
    display: block;
}

.redirect-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0050D8;
    color: #F9F9F9;
    text-decoration: none;
    border-radius: 4px;
}

.redirect-button:hover {
    background-color: #590fc8;
}