@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --white: #FFF;
    --blue: #015FC7;
    --baloonblue: #499FFE;
}

body {
    background: #001124;
    font-family: 'Padauk', sans-serif;
    font-size: 1.25rem;
    color: var(--white);
}

.regist-container > img {
    margin-left: 9rem;
    margin-right: 14rem;
}

form {
    width: 300px;
}

.regist-container {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 361px;
    margin-top: 5rem;
}

label {
    margin-bottom: 8px;
    font-size: 1.25rem;
}

input {
    width: 110%;
    margin-bottom: 11px;
    padding: 8px;
    font-size: 1em;
    border: none;
}

input:focus {
    outline: none;
}

h1 {
    font-size: 2.8rem;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
}

.blue-button{
    padding: 7px 56px 7px 56px;
    background-color: var(--blue);
    border: none;
    margin-top: 2.3rem;
    color: var(--white);
    font-size: 1.25rem;
    border-radius: 5px;
    margin-left: 25%;
    font-family: 'Padauk';
    font-weight: 500;
    cursor: pointer;
}



