@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --white: #FFF;
    --blue: #015FC7;
    --baloonblue: #499FFE;
}

body {
    background: #001124;
    font-family: 'Padauk', sans-serif;
    font-size: 1.25rem;
    color: var(--white);
    box-sizing: border-box;
    margin: 0;
}


.login-container > img {
    margin-top: 12rem;
    margin-bottom: 8rem;
}


form {
    width: 300px;
}

.login-container {
    display: flex;
    align-items: flex-start;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6.5rem;
    margin-top: 13rem;
    width: 361px;
}

label {
    margin-bottom: 8px;
    font-size: 1em;
}

input {
    width: 118%;
    margin-bottom: 11px;
    padding: 8px;
    font-size: 1em;
    border: none;
}

input:focus {
    outline: none;
}


h1 {
    font-size: 2.8rem;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
}

.blue-button {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: 0.6rem;
    box-sizing: border-box;
    width: 180px;
height: 43px;
font-family: 'Padauk', sans-serif;
font-weight: 400;
text-align: center;
justify-content: center;
border: none;
}

.additional-info {
    display: flex;
    flex-direction: column;
}

.additional-info > p {
    margin: 0;
}

.additional-info .blue {
    color: var(--baloonblue);
    margin: 0;
}

.additional-info .bluse > a {
    color: var(--baloonblue);
    text-decoration: none;
}
