body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 1.2rem;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
}

.switch-group {
  margin-bottom: 1.25rem;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
  margin-right: 0.625rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 2.125rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.6s;
  border-radius: 50%;
}

.blue-switch input:checked + .slider {
  background-color: #3498db;
}

.green-switch input:checked + .slider {
  background-color: #19b65a;
}

.orange-switch input:checked + .slider {
  background-color: #e67e22;
}

.blue-switch input:checked + .slider:before {
  transform: translateX(1.625rem);
}

.green-switch input:checked + .slider:before {
  transform: translateX(1.625rem);
}

.orange-switch input:checked + .slider:before {
  transform: translateX(1.625rem);
}